<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <payplug_payments_standard>
                <active>0</active>
                <title>Credit card checkout</title>
                <one_click>0</one_click>
                <processing_order_status>processing</processing_order_status>
                <canceled_order_status>canceled</canceled_order_status>
                <allowspecific>0</allowspecific>
                <generate_invoice>1</generate_invoice>
                <sort_order>0</sort_order>
                <model>PayplugPaymentStandardFacade</model>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>1</is_gateway>
                <order_status>pending</order_status>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
            </payplug_payments_standard>
        </payment>
        <payplug_payments>
            <general>
                <environmentmode>test</environmentmode>
                <payment_page>redirect</payment_page>
                <connected>0</connected>
                <verified>0</verified>
            </general>
        </payplug_payments>
    </default>
</config>
