<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Payplug - https://www.payplug.com/
 * Copyright © Payplug. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_adminhtml_system_config_save">
        <observer name="payplug_payments_section_payment_saved" instance="Payplug\Payments\Observer\PaymentConfigObserver"/>
    </event>
    <event name="controller_action_predispatch">
        <observer name="payplug_payments_display_notice" instance="Payplug\Payments\Observer\DisplayNoticeObserver" />
    </event>
    <event name="controller_action_predispatch_sales_order_creditmemo_new">
        <observer name="payplug_payments_check_refunded_amount" instance="Payplug\Payments\Observer\CreditMemoCheckRefundedAmountObserver"/>
    </event>
    <event name="payment_method_assign_data_payplug_payments_standard">
        <observer name="payplug_payments_standard_gateway_data_assign" instance="Payplug\Payments\Observer\PaymentDataAssignObserver" />
    </event>
    <event name="payment_method_is_active">
        <observer name="payplug_payments_standard_is_available" instance="Payplug\Payments\Observer\StandardAvailabilityObserver" />
    </event>
    <event name="payment_method_assign_data_payplug_payments_ondemand">
        <observer name="payplug_payments_ondemand_gateway_data_assign" instance="Payplug\Payments\Observer\OndemandPaymentDataAssignObserver" />
    </event>
    <event name="adminhtml_sales_order_create_process_data">
        <observer name="payplug_payments_ondemand_admin_order_process_data" instance="Payplug\Payments\Observer\OndemandPaymentOrderCreateProcessDataObserver" />
    </event>
    <event name="order_cancel_after">
        <observer name="payplug_payments_ondemand_order_cancel" instance="Payplug\Payments\Observer\OrderCancelObserver" />
    </event>
    <event name="payment_method_assign_data_payplug_payments_oney">
        <observer name="payplug_payments_oney_gateway_data_assign" instance="Payplug\Payments\Observer\OneyDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_payplug_payments_oney_without_fees">
        <observer name="payplug_payments_oney_without_fees_gateway_data_assign" instance="Payplug\Payments\Observer\OneyDataAssignObserver" />
    </event>
    <event name="sales_order_invoice_register">
        <observer name="payplug_payments_set_deferred_after_invoice_order_status" instance="Payplug\Payments\Observer\SetDeferredAfterInvoiceOrderStatus"/>
    </event>

    <event name="sales_order_invoice_save_after">
        <observer name="payplug_payments_send_invoice_increment_id_to_payplug_transaction"
                  instance="Payplug\Payments\Observer\SendInvoiceIncrementIdToTransactionMetadata"/>
    </event>

    <event name="sales_order_payment_place_end">
        <observer name="payplug_payments_set_order_state_to_pending_payment"
                  instance="Payplug\Payments\Observer\SetOrderStateToPendingPayment" />
    </event>
</config>
