<?xml version="1.0"?>
<!--
/**
 * Payplug - https://www.payplug.com/
 * Copyright © Payplug. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payplug_payments_standard_config_provider" xsi:type="object">Payplug\Payments\Model\Payment\Standard\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payplug_payments_installment_plan_config_provider" xsi:type="object">Payplug\Payments\Model\Payment\InstallmentPlan\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payplug_payments_oney_config_provider" xsi:type="object">Payplug\Payments\Model\Payment\Oney\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payplug_payments_oney_without_fees_config_provider" xsi:type="object">Payplug\Payments\Model\Payment\OneyWithoutFees\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payplug_payments_bancontact_config_provider" xsi:type="object">Payplug\Payments\Model\Payment\Bancontact\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payplug_payments_apple_pay_config_provider" xsi:type="object">Payplug\Payments\Model\Payment\ApplePay\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payplug_payments_amex_config_provider" xsi:type="object">Payplug\Payments\Model\Payment\Amex\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payplug_payments_satispay_config_provider" xsi:type="object">Payplug\Payments\Model\Payment\Satispay\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payplug_payments_ideal_config_provider" xsi:type="object">Payplug\Payments\Model\Payment\Ideal\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payplug_payments_mybank_config_provider" xsi:type="object">Payplug\Payments\Model\Payment\Mybank\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="payplug-payments-cards" xsi:type="string">Payplug\Payments\CustomerData\Cards</item>
            </argument>
        </arguments>
    </type>
</config>
