<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="payplug_restrict_payment_method_by_country"
                  instance="Payplug\Payments\Observer\HidePaymentMethodForRestrictedCountries"  />
    </event>
    <event name="controller_action_predispatch_payplug_payments">
        <observer name="payplug_payments_init_env_qa_on_payplug_dispatch"
                  instance="Payplug\Payments\Observer\InitEnvQaOnFrontDispatch" />
    </event>
    <event name="controller_action_predispatch_catalog_product_view">
        <observer name="payplug_payments_init_env_qa_on_product_view_dispatch"
                  instance="Payplug\Payments\Observer\InitEnvQaOnFrontDispatch" />
    </event>
    <event name="controller_action_predispatch_checkout_cart_index">
        <observer name="payplug_payments_init_env_qa_on_cart_dispatch"
                  instance="Payplug\Payments\Observer\InitEnvQaOnFrontDispatch" />
    </event>
</config>
