<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Payplug - https://www.payplug.com/
 * Copyright © Payplug. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="payplug_restrict_payment_method_by_country"
                  instance="Payplug\Payments\Observer\HidePaymentMethodForRestrictedCountries"  />
    </event>
</config>
