<!--
/**
 * Payplug - https://www.payplug.com/
 * Copyright © Payplug. All rights reserved.
 * See LICENSE for license details.
 */
-->

<div data-bind="
        class: 'payment-method ' + getCode(),
        css: {
            '_active': isActive,
            'oney-it': isOneyItalian()
        },
        attr: {
            'data-oney-container': getCode(),
        }
    ">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="
                    attr: {
                        'id': getCode()
                    },
                    value: getCode(),
                    checked: isChecked,
                    click: selectPaymentMethod,
                    visible: isRadioButtonVisible()
                ">
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
            <img class="oney-logo-checkout"
                 data-bind="
                    attr: {
                        src: getPaymentLogo(),
                        alt: getTitle()
                    }"
                 width="166"
                 height="34"
                 alt="3x 4x Oney"
            >
            <span data-bind="
                i18n: 'Except prepaid cards',
                attr: {class: getPrepaidMentionClass()
            }
            "></span>
        </label>
    </div>

    <div class="payment-method-content">
        <div class="payment-method-error oney-checkout-error"
             data-bind="text: oneyErrorMessage, css: {active: oneyErrorMessage() !== ''}"></div>
        <div class="oneyPayment oneyPayment-open" data-bind="visible: oneyErrorMessage() === ''">
            <div class="oneyOption_wrapper" data-bind="foreach: getOneyOptions()">
                <label class="oneyOption"
                       data-bind="
                            css: 'oneyOption-' + $data + ($parent.selectedOption() === $data ? ' oneyOption-selected' : ''),
                            attr: {'data-type': $data}
                       ">
                    <div class="oneyOption_title">
                        <span data-bind="css: 'oneyOption_logo oneyLogo oneyLogo-' + $data"></span>
                        <span data-bind="text: $parent.getOptionLabel($data)"></span>
                    </div>
                    <div class="oneyOption_radio">
                        <div class="radio">
                            <span>
                                <input type="radio"
                                       data-bind="
                                            attr: {name: 'oney_type_' + $parent.getCode(), value: $data},
                                            checked: $parent.selectedOption
                                       ">
                            </span>
                        </div>
                    </div>
                </label>
            </div>
            <div class="oneyWidget_notice" data-bind="text: oneyNotice, visible: oneyNotice() !== ''"></div>
            <div class="oneyWidget_checkout" data-bind="attr: {id: getPlaceholderId()}, afterRender: afterWidgetRender"></div>
            <!-- ko if: getConfiguration().more_info_url -->
            <a class="more-info" target="_blank"
               data-bind="attr: {href: getConfiguration().more_info_url}, i18n: 'More info'"></a>
            <!-- /ko -->
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout oney-submit-button"
                        type="submit"
                        data-bind="
                            click: placeOrder,
                            attr: {title: $t('Place Order')},
                            css: {disabled: isOneyPlaceOrderDisabled()},
                            enable: (getCode() == isChecked()),
                        "
                        disabled>
                    <span data-bind="text: placeOrderLabel"></span>
                </button>
            </div>
        </div>
    </div>
</div>
