<?xml version="1.0"?>
<!--
/**
 * Payplug - https://www.payplug.com/
 * Copyright © Payplug. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_adminhtml_system_config">
        <observer name="payplug_paymetns_display_notice" instance="Payplug\Payments\Observer\DisplayNoticeObserver" />
    </event>
    <event name="admin_system_config_changed_section_payplug_payments">
        <observer name="payplug_clean_oauth_token_data_on_change_mode"
                  instance="Payplug\Payments\Observer\CleanOauthTokenDataOnChangeMode"/>
    </event>
</config>
