:root {
  --color-background-dark: #212123;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  color: white;
  padding: 1rem;
  background-color: var(--color-background-dark);
}
