.payment-method-title {
    img {
        [data-ppro-container="payplug_payments_satispay"] & {
            width: 100px;
        }
        [data-ppro-container="payplug_payments_sofort"] & {
            width: 80px;
        }
        [data-ppro-container="payplug_payments_giropay"] & {
            width: 110px;
        }
        [data-ppro-container="payplug_payments_ideal"] & {
            width: 50px;
        }
        [data-ppro-container="payplug_payments_mybank"] & {
            width: 70px;
        }
    }
}
.payplug-method-title {
    align-items: center;
    display: flex;
}
.bancontact-checkout-error,
.apple-pay-checkout-error,
.amex-checkout-error {
    color: @payplug-error;
    margin-bottom: 15px;
}
.prepaid-card-mention {
    display: none;
    &.visible {
        display: inline-block;
    }
}
.payplug-apple-pay-method,
.payplug-amex-method,
.payplug-ppro-method {
    .payment-method-title {
        &, & label {
            align-items: center;
            display: inline-flex;
            width: 100%;
        }
    }
}
.payplug-apple-pay-method,
.payplug-ppro-method {
    .payment-method-title {
        input[type='radio'], img {
            margin-right: 10px;
        }
    }
}