// /**
//  * Payplug - https://www.payplug.com/
//  * Copyright © Payplug. All rights reserved.
//  * See LICENSE for license details.
//  */

//
//  Variables
//  _____________________________________________

@pp-error__color: #fc5656;

//
//  Checkout
//  _____________________________________________

// Integrated form
@pp-payment-integrated-form__width: 300px;
@pp-payment-integrated-form__padding-left: @checkout-payment-method-content__padding__xl;
@pp-payment-integrated-form__margin-bottom: 30px;

@pp-payment-integrated-form-cvv__gap: 10px;

// Payment methods
@pp-checkout-payment-method-label-desktop__padding-y: 20px;
@pp-checkout-payment-method-label-mobile__padding-y: @indent__base;
@pp-checkout-payment-method-label__gap: 10px;

@pp-checkout-payment-method-logo__height: 36px;
@pp-checkout-payment-method-logo__padding: 4px;
@pp-checkout-payment-method-logo__background-color: white;

//
//  Standard payment
//  _____________________________________________

@pp-checkout-saved-cards-item__margin-bottom: @indent__base;

//
//  Apple Pay
//  _____________________________________________

// Button
@pp-apple-pay-button__width: 100%;
@pp-apple-pay-button__height: 52px;
@pp-apple-pay-button__border-radius: 3px;
@pp-apple-pay-button__padding: 8px 0px;

//
//  Oney
//  _____________________________________________

@oney-color1: #fff;
@oney-color2: #fbfbfb;
@oney-color3: #f6f6f6;
@oney-color4: rgba(178, 178, 178, .1);
@oney-color5: #e5e5e5;
@oney-color6: #dce0e8;
@oney-color7: #b2b2b2;
@oney-color8: #8a8a8a;
@oney-color9: #777;
@oney-color10: #333;
@oney-color11: #2f2930;
@oney-color12: rgba(128, 188, 0, .1);
@oney-color13: rgba(126, 189, 0, .15);
@oney-color14: #7ebd00;
@oney-color15: #81bc00;
